<?xml version="1.0"?>
<model>
  <name>Unitree G1</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>auto_explore_sim</name>
  </author>
  <description>
    Unitree G1 humanoid robot with diff-drive base for autonomous exploration.
    Based on g1_29dof_rev_1_0 URDF from unitreerobotics/unitree_ros.
  </description>
</model>
